<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--Carpeta donde esta el Log .txt-->
		<add key="RutaLog" value="C:\Jona"/>
		<!--EnvioCorreo = True - Envia Correo de Inconsistencias-->
		<add key="envioCorreo" value="true" />
		<!--Correo|password|nombre de oficina-->
		<!--<add key="CorreoErrorEnvio" value="alertasti@psamperu.com|PsamPeru2020$|Informacion PSA Marine"/>-->
		<!--<add key="CorreoErrorEnvio" value="jalejosv@gmail.com|Sistemas1088|JAV Consultores"/>-->
		<add key="CorreoErrorEnvio" value="jefaturati@filtroslys.com.pe|Sistemas731|Correo LYS"/>
		<!--correo,correo,...-->
		<add key="CorreoErrorPara" value="jalejosv@gmail.com,workjav88@gmail.com"/>
		<!--correo,correo,...-->
		<!--<add key="CorreoErrorCC" value="jalejosv@gmail.com,jalejosv@gmail.com" />-->
		<add key="CorreoErrorCC" value="workjav88@gmail.com,jalejosv@gmail.com" />
		<!--correo,correo,...-->
		<add key="CorreoErrorCO" value="jalejosv@gmail.com,workjav88@gmail.com" />
	</appSettings>
	<connectionStrings>
		<add name="InterfacesDB" connectionString="Data Source=.\SQLEXPRESS;Database=InterfacesDB;user id=sa;password=123;MultipleActiveResultSets=True;" />
		<!--<add name="TRAMARSA" connectionString="Data Source=10.58.32.5;Database=TRAMARSA;user id=adminsql;password=Sistemas2;MultipleActiveResultSets=True;" />-->
	</connectionStrings>
</configuration>